---
import Layout from '../layouts/Layout.astro';
import ProductList from '../js/components/ProductList.svelte';
const title = "Home";
---

<Layout title={title}>
	    <main class="divider">
      <div class="hero">
        <img
          src="/images/banner-sm.jpg"
          srcset="images/banner-sm.jpg 500w, images/banner.jpg"
          alt="image of a high mountain lake"
        />
        <div class="logo logo--square">
          <img src="/images/noun_Tent_2517.svg" alt="tent image for logo" />
          <div>Sleep<span class="highlight">Outside</span></div>
        </div>
      </div>
      <section class="mission">
        <p>We spend too much time these days indoors...sitting usually.</p>
        <p>No wonder we are a mess!</p>
        <p>
          What we really need is to get outside...in fact SLEEP outside. Our
          mission is to provide you with everything you need to do this
          comfortably at an affordable price.
        </p>
      </section>
      <section class="products">
        <h2>Top Products</h2>
        <section class="product-list">
          <a href="/product-list/?category=tents"><img class="product-list__icon" alt="Tent Icon from Noun Project: Mustofa Bayu" src="https://wdd360.netlify.app/images/category-icons/noun_Tent_3544767.svg"/></a>
          <a href="/product-list/?category=sleeping-bags"><img class="product-list__icon" alt="Sleeping Bag Icon from Noun Project: Mustofa Bayu" src="https://wdd360.netlify.app/images/category-icons/noun_Sleeping_Bag_3544775.svg"/></a>
          <a href="/product-list/?category=backpacks"><img class="product-list__icon" alt="Backpack Icon from Noun Project: Mustofa Bayu" src="https://wdd360.netlify.app/images/category-icons/noun_carrier_bag_3544771.svg"/></a>
          <a href="/product-list/?category=hammocks"><img class="product-list__icon" alt="Hammock Icon from Noun Project: Mustofa Bayu" src="https://wdd360.netlify.app/images/category-icons/noun_Hammock_791143.svg"/></a>
        </section>
        <ProductList client:load />
      </section>
    </main>
	<script src="../js/main.ts"></script>
</Layout>
