---
let {title} = Astro.props;
import '../css/style.css';
import CartLogo from '../components/CartLogo.svelte';
import UserMenu from '../js/components/UserMenu.svelte';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sleep Outside | {title}</title>
    <script src="../js/main.ts"></script>
  </head>
  <body>
    <header class="divider">
      <div class="logo">
        <img src="/images/noun_Tent_2517.svg" alt="tent image for logo" />
        <a href="/"> Sleep<span class="highlight">Outside</span></a>
      </div>
      <nav class="menu-right">
        <div class="user-menu-container">
          <UserMenu client:load/>
          <!-- <div class="user">
            <button
              class="user__button"
              aria-label="user management"
              title="User Management"
            >
              <img src="/images/noun-hiker.svg" alt="user icon" />
            </button>
            <nav class="user__menu">
              <a href="/login">Login</a>
              <a href="/profile">Profile</a>
              <a href="/orders">Orders</a>
            </nav>
          </div> -->
        </div>
        <div class="cart">
          <a
            href="/cart"
            aria-label="Shopping Cart"
            title="Shopping Cart"
          >
            <CartLogo client:load />
          </a>
        </div>
      </nav>
    </header>
		<slot />
	<footer>&copy;NOT a real business</footer>
  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
